body {
    color: #999;
    font-family: 'Roboto', Arial, Tahoma, sans-serif !important;
    font-weight: 300 !important;
    background: url(../images/agsquare.png) repeat #f2f2f2 ! important;
}

a {
    text-decoration: underline;
}

ul, ol {
    margin: 0;
    padding: 0;
}

ul li, ol li {
    list-style: none;
}

.navbar {
    margin: 0;
}

.navbar a {
    text-decoration: none;
}

.search-form {
    width: 200px;
    margin-top: 11px;
}

.search-form .search-input,
.search-form .input-group-addon {
    border: 0;
    height: 27px;
    background: #666;

    -webkit-border-radius:0;
    -moz-border-radius:0;
    border-radius:0;
}

.search-form .search-input {
    font-style: italic;
    padding-left: 0;
    font-size: 12px;
}

.navbar-inverse {
    background: #080808;
}

.logo img {
    margin: 4px 50px 0 0;
}

.person-container {
    width: 570px;
    margin: 0 auto;
}

.person-detail-header {
    padding: 30px 0 0;
    background: #eee;
}

.person-data {
    margin-left: -35px;
    width: 500px;
    padding: 5px 0 30px 55px;
    border-left: 2px solid #DDD;
    position: relative;
    z-index: 1;
}

.person-photo {
    width: 70px;
    height: 70px;
    text-align: center;
    background: #FFF;
    border: 5px solid #DDD;
    font-size: 25px;
    position: relative;
    z-index: 2;

    -webkit-border-radius:35px;
    -moz-border-radius:35px;
    border-radius:35px;
}

.person-data {
    font-size: 12px;
}

.social-icons li {
    display: inline-block;
    margin-left: 10px;
    line-height: 24px;
}

.social-icons i {
    font-size: 1.2em;
}

.person-photo span {
    line-height: 56px;
}

.person-name {
    margin-top: 0;
    color: #000;
    font-size: 24px;
}

.person-info {
    margin-bottom: 10px;
}

.person-social {
    margin-bottom: 10px;
}

.person-tags li {
    display: inline-block;
    margin-right: 4px;
    border: 1px solid #DDD;
    padding: 0px 4px;

    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
}

.person-tags li a, .person-tags li a:hover {
    color: inherit;
    text-decoration: none;
}

.person-tags li:hover {
    background: #DDD;
}

.persons-list {
    margin: 50px auto;
    width: 450px;
}

.persons-list li {
    display: block;
    margin-bottom: 20px;
}

.persons-list .person-name {
    line-height: 70px;
}

.persons-list .person-photo {
    margin-right: 30px;
}

.persons-list a .person-photo {
    color: #DDD;
}

.event-year {
    position: absolute;
    bottom: 10px;
    left: 20px;
    font-size: 20px;
}

.event-years-list > li {
    border-bottom: 2px solid #DDD;
    position: relative;
}

.event-monthes-list {
    margin: 0 auto;
    width: 1024px;
}

.event-month {
    width: 258px;
    text-align: center;
    display: inline-block;
}

.events-list {
    display: inline-block;
    border-left: 2px solid #DDD;
}

.events-list li {
    padding: 10px 0;
}

.event-years-list:first-child .li-month:first-of-type .events-list,
.event-years-list:first-child .li-month:first-of-type .event-month {
    padding-top: 40px;
}

.event-link, .event-icon, .event-date {
    display: inline-block;
}

.event-date {
    font-size: 12px;
}
