*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
npm-debug.log

pids
logs
results

node_modules
public
.idea
.tmp
.sass-cache
.ssh
.vagrant.d
.VirtualBox
.vagrant
.bash_history
.viminfo
.zcompdump*
.zsh*
app/bower_components
heroku
/config/settings.local.js
/app/styles/compiled
/legacy