.post_persons {
  margin: 20px 0;
  width:100%;
}

.post_pers {
  max-width: 300px;
  height: 380px;
  overflow: hidden;
  position: relative;
  float: left;
  display: inline;
  margin: 25px;

  @include personBlock;

  img{
    display: block;
    margin: 0 auto;
    height:182px;
  }

  &:hover{
    @include personBlockHover;
  }

  h5{
    margin: 10px 0;
  }
}

//submodules
@import "filter";
@import "read-more";