.post_pers{
  .read-more {
    position: absolute;
    bottom: -10px;
    padding-top: 35px;
    left: 0px;
    height: 65px;
    width: 100%;
    text-align: center;

    @include lin-gradient(rgba(242,242,242,0), rgba(242,242,242,1));
    @include border-radius(5px);

    .button{
      margin-top: 100px;
      border: 2px solid $regularAllPageButtonBorderColour;
      background: $regularAllPageButtonColour;
      padding: 2px 5px;
      color: $textOnLightBkg;
      font-weight: 500;
      font-size: 13px;
      text-decoration: none;
      vertical-align: middle;

      @include border-radius(3px);

      &:hover{
        border-color: $hoverAllPageButtonBorderColour;
        background: $hoverAllPageButtonColour;
        color: $blockBackground;
      }
    }
  }

  &:hover{
    .read-more{
      @include lin-gradient(rgba(255,255,255,0), rgba(255,255,255,1));
    }
  }
}