<div class="container about">
    <h4>Наші принципи: </h4>

    <div id="tabs">
        <ul>
            <li ng-repeat="tab in tabs"
                ng-class="{active:isActiveTab(tab.url)}"
                ng-click="onClickTab(tab)"
                ng-bind-html="tab.title"
                    ></li>
        </ul>
        <div id="mainView">
            <div ng-include="currentTab"></div>
        </div>
    </div>
    <script type="text/ng-template" id="one.tpl.html">
        <div id="viewOne">

            <p>Ми подаємо дії та вислови кожної представленої особи у
                вигляді інтерактивної інфографіки, яку називаємо «візуальною біографією». Таке представлення дозволить
                Вам за лічені хвилини зрозуміти ким насправді є та, чи інша персона.</p>
        </div>
    </script>

    <script type="text/ng-template" id="two.tpl.html">
        <div id="viewTwo">

              <p>Наш фундамент — безсумнівні докази. Вся інформація, яку подано
                на «Персонах» підкріплюється посиланнями на першоджерела: офіційні сторінки в інтернеті,
                документи, фото, відео.</p>
        </div>
    </script>

    <script type="text/ng-template" id="three.tpl.html">
        <div id="viewThree">

            <p>Ми відкриті для активістів. Будь-хто із користувачів «Персон» має
                змогу редагувати існуючі візуальні біографії діячів і створювати нові.</p>
        </div>
    </script>

    <h4>Допомогти проекту:</h4>
    <p>Персони - це громадянська ініціатива, спільний проект ....</br>
        завданням якого є об'єктивне та неупереджене інформування про ... </br>
        Ваша допомога дуже важлива нам</br>
        Дайте просто грошей </br>
        <ul class="pay-list pay-list1" >
            <li ng-repeat="payList in payLists" >
                <img ng-src="{{payList.image}}"
                     ng-click="groupCollapse($index)"/>
            </li>
        </ul>
        <div ng-repeat="payList in payLists" collapse="payList.collapsed">
            <div class="well well-lg">{{payList.description}}</div>
        </div>
    </p>
    <div class="separator"></div>
    <h4>Наша команда: </h4>
    <div id="founders">
        <div class="container">
            <div class="founders col-sm-4">
                <div class="comment">
                    <p>I am floored, impressed, very happy, and jumping up and down whenever we work with Theory on UI or web design.</p>
                    <span></span>
                </div>

                <div class="author">
                    <img src="images/patrick.jpg" />
                    <p>Patrick Ortman,</p>
                    <span>Founder, POINC</span>
                </div>
            </div>
            <div class="founders col-sm-4">
                <div class="comment">
                    <p>I choose Theory when I need a UI/UX project done right. Theory removes the stress from design projects with great visual detail, communication, and strategy.</p>				<span></span>
                </div>

                <div class="author">
                    <img src="images/paul.jpg" />
                    <p>Paul Shiffman,</p>
                    <span>Co-Founder, SalesPro</span>
                </div>
            </div>
            <div class="founders col-sm-4">
                <div class="comment">
                    <p>We trust Theory with all our interface projects and are very happy working together on a close, long-term basis.</p>
                    <span></span>
                </div>

                <div class="author">
                    <img src="images/eli.jpg" />
                    <p>Eli Finkelman,</p>
                    <span>Co-Founder, TelAPI</span>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>


    <iframe type="text/html" width="520" height="390" src="http://tvi.ua/embed.php?video=38523" frameborder="0"></iframe>
    <iframe type="text/html" width="520" height="390" src="http://tvi.ua/embed.php?video=38523" frameborder="0"></iframe>

    <div class="row">
        <div class="about-item col-sm-6">
            <h3 class="about-heading">Ентузіасти розробники:</h3>
            <div class="author_mini">
                <img src="images/eli.jpg" />
                <p>Eli Finkelman,</p>
                <span>Co-Founder, TelAPI</span>
            </div>
            <div class="author_mini">
                <img src="images/eli.jpg" />
                <p>Eli Finkelman,</p>
                <span>Co-Founder, TelAPI</span>
            </div>
            <div class="author_mini">
            <img src="images/eli.jpg" />
            <p>Eli Finkelman,</p>
            <span>Co-Founder, TelAPI</span>
         </div>
        </div>
        <div class="about-item col-sm-6">
            <h3 class="about-heading">Ентузіасти дописувачі:</h3>
            <div class="author_mini">
                <img src="images/eli.jpg" />
                <p>Eli Finkelman,</p>
                <span>Co-Founder, TelAPI</span>
            </div>
            <div class="author_mini">
                <img src="images/eli.jpg" />
                <p>Eli Finkelman,</p>
                <span>Co-Founder, TelAPI</span>
            </div>
            <div class="author_mini">
                <img src="images/eli.jpg" />
                <p>Eli Finkelman,</p>
                <span>Co-Founder, TelAPI</span>
            </div>
            <div class="author_mini">
                <img src="images/eli.jpg" />
                <p>Eli Finkelman,</p>
                <span>Co-Founder, TelAPI</span>
            </div>
            <div class="author_mini">
                <img src="images/eli.jpg" />
                <p>Eli Finkelman,</p>
                <span>Co-Founder, TelAPI</span>
            </div>
            <div class="author_mini">
                <img src="images/eli.jpg" />
                <p>Eli Finkelman,</p>
                <span>Co-Founder, TelAPI</span>
            </div>

        </div>
    </div>
    <div class="separator"></div>

    <h4>Долучайтесь:</h4>
    <h3>Для того, щоб долучитись до проекту "Персони" заповніть форму зворотнього звя’зку: </h3>
   /* за основу берем http://theorydesign.ca/  */
    <form action="/contact" method="post" id="contact-form">
        <div class="input-group"><span class="input-group-addon tool-tip" title="Ім'я (Необов'язково)" data-placement="left"><i class="fa fa-user"></i></span><input type="text" class="form-control" id="contact-name" name="contact-name" placeholder="Ім'я (Необов'язково)"/></div>
        <div class="input-group"><span class="input-group-addon tool-tip" title="Електронна пошта (ця інформація не публікується)" data-placement="left"><i class="fa fa-envelope"></i></span><input type="email" class="form-control" id="contact-email" name="contact-email" placeholder="Електронна пошта (ця інформація не публікується)" data-validate="validate(required, email)"/></div>
        <div class="input-group"><span class="input-group-addon tool-tip" title="Ваша пропозиція" data-placement="left"><i class="fa fa-pencil"></i></span><textarea class="form-control" id="contact-message" name="contact-message" placeholder="Повідомлення" rows="5" data-validate="validate(rangelength(1, 10000))"></textarea></div>
        <input type="submit" class="btn btn-lg btn-block" id="contact-form-submit" name="contact-form-submit" value="Надіслати"/>
        <div class="alert alert-success" id="contact-success"></div>
        <div class="alert alert-danger" id="contact-error"></div>
    </form>

</div>