<div class="container about">
<h4>Про проект: </h4>
        <p>«Персони» — це проект ініціативних українців, які хочуть аби життєписи відомих людей і організацій були відомі
        кожному. </p>
        <p> Наша мета — допомогти розібратися у політичному і громадському житті України людям, які мають до того бажання,
        але не мають часу. </p>
        <p>Ми думаємо, що це можливо зробити за допомогою <em>наглядного</em> відображення життєписів із
        <em>достовірною</em> інформацією, яка є <em>відкритою</em> для змін та доповненнь спільноти.
         </p>

    <h4>Наші принципи: </h4>

    <div id="tabs">
        <ul>
            <li ng-repeat="tab in tabs"
                ng-class="{active:isActiveTab(tab.url)}"
                ng-click="onClickTab(tab)"
                ng-bind-html="tab.title"
                    ></li>
        </ul>
        <div id="mainView">
            <div ng-include="currentTab"></div>
        </div>
    </div>
    <script type="text/ng-template" id="one.tpl.html">
        <div id="viewOne">

            <p>Ми подаємо дії та вислови кожної представленої особи у
                вигляді інтерактивної інфографіки, яку називаємо «візуальною біографією».</p>
            <p>Візуальна біографія — це діаграма, де на осі часу показуються події. Причому, не тільки звичні для
                біографії події: вивчився, одружився, працював президентом, але і дії та висловлювання персони: із ким
                судився, які укази підписував; яку зробив заяву, що написав у фейсбук чи твітер. Крім того, ми вважаємо
                що життєписи людей краще бачити в контексті подій, які відбуваються у світі. Тому ми показуємо і події
                із біографій інших персон, які пов’язані із даною: вплинули на неї, або, навпаки, стали реакцією іншої
                людини на дію даної. Такими подіями можуть бути і загальноукраїнські та загальносвітові події —
                наприклад, здобуття незалежності, вибори до Верховної Ради, початок Другої світової війни.</p>
            <p>Завдяки наочності та інтерактивності нашої діаграми, Ви зможете швидко і, сподіваємось, цікаво,
                ознайомитись із життєписом тієї чи іншої особи. А отже, зрозуміти — ким насправді є ця персона.</p>
        </div>
    </script>

    <script type="text/ng-template" id="two.tpl.html">
        <div id="viewTwo">

            <p>Вся інформація, яку подано
                на «Персонах» підкріплюється посиланнями на авторитетні джерела: офіційні сторінки в інтернеті,
                документи, фото, відео, публікації у пресі, статті у Вікіпедії.</p>
            <p>Інформація ретельно і безупередженно відсіюватиметься. За відповідністю опису події наведеним
                джерелам слідкуватимуть досвідченні дописувачі-модератори. У цій нелегкій задачі їм допомогатимуть
                оригінальні комп’ютерні програми, які ми зараз розробляємо; а також, самі читачі і дописувачі сайту.</p>
            <p>Ми не залежимо від політичних партій чи бізнес-імперій. Кожен із нас, природньо, має свої політичні
                погляди. Проте, у кожного вони різні, аж до діаметрально протилежних. Ми контролюємо дописи одне одного,
                слідкуючи, щоб вони не отримали певного політичного забарвлення.
            <p>Ви можете покластись на нас. Наше підґрунтя — беззаперечні докази і незаангажованість.</p>
        </div>
    </script>

    <script type="text/ng-template" id="three.tpl.html">
        <div id="viewThree">

            <p>Коли ми доведемо технічну реалізацію проекту, будь-хто із користувачів
                «Персон» матиме змогу редагувати існуючі візуальні біографії діячів і створювати нові.</p>
            <p>Хоча «Персони» все ще у розробці, вже зараз Ви можете додавати нові події, а також надсилати нам на
                електронну скриньку свої доповненя, зауваження і побажання.</p>
            <p>Редагуйте життєписи, пишіть нам і долучайтесь до спільноти — ми відкриті для активістів.</p>
        </div>
    </script>

    <h4>Чиї життєписи розміщуються на «Персонах»?</h4>
    <p>Ми висвітлюємо біографії відомих і впливових людей, які пов’язані з сучасною Україною.
        Це можуть бути політики, державні і громадські діячі, журналісти, діячі культури, науковці та освітяни.
        Хоча ресурс і називається «Персони», ми не обмежуємо себе життєписами, власне, людей. Ми
        розміщуємо і «біографії» політичних партій, громадських організацій, навіть цілих країн.</p>
    <!--<p>Насправді, ми маємо лише дві вимоги до персони чи організації, життєпис якої може бути розміщений на сайті:
        <ul>
        <li>Ця особа (організація) має бути пов’язаною із Україною.</li>
        <li>Вона має бути живою (існувати) на момент розміщення її життєпису.</li>
        </ul>
    </p>-->

    <a class="donate-anchor" id="donate"></a>
    <h4>Допомогти проекту:</h4>
    <p>Ми — некомерційний і незалежний проект.
        Наразі ми не заробляємо грошей.
        Нас не фінансують політичні партії, олігархи чи держава.
        Головним нашим рушієм є бажання змін на краще.
    </p>
    <p>Проте, це бажання не допоможе нам сплатити за надійний хостинг і не нагодує наші сім’ї.
        Задля безпеки і надійності ми змушені тримати сервер закордоном. А деякі технічні, організаційні, і задачі
        роботи із наповненням вимагають часу більше, ніж хобі на вихідні і вечори після роботи.
    </p>
    <p>Із вашою допомогою ми зможемо збільшити штат модераторів, покращити обладнання, розширити функціонал
        нашого сервісу.
    </p>
    <p>Про те, як ми використали ваші гроші, ми зобов’язуємся звітувати кожні три місяці.
    </p>

    <div class="class_pay_list">
        <ul class="pay-list pay-list1 center-block" >
            <li ng-repeat="payList in payLists" >
                <button type="button" class="btn btn-default" ng-click="groupCollapse($index)"> <img ng-src="{{payList.image}}"></button>
            </li>
        </ul>
    </div>
        <div ng-repeat="payList in payLists" ng-class="{ showMe: !payList.collapsed }" class="collapsable">
            <div class="well well-lg" ng-bind-html="payList.description"></div>
        </div>
    </p>
    <div class="separator"></div>
    <h4>Наша команда: </h4>
    <div id="founders">
        <div class="container">
            <div class="founders col-sm-4">
                <div class="comment">
                    <p>Тоталітарна держава конролює всі сфери життя громадян, які тільки може.
                        Скинувши президента із тоталітарними замашками, слід закріпити успіх.
                        Вільні громадяни повинні встановити тоталітарний контроль над державою ;)</p>
                    <span></span>
                </div>

                <div class="author">
                    <img src="images/andriy.jpg" />
                    <b>Андрій</b>,
                    <span>Ідеолог</span>
                    <a href="mailto:andriy@persony.info">andriy@persony.info</a>
                </div>
            </div>
            <div class="founders col-sm-4">
                <div class="comment">
                    <p>Основою для Країни 2.0 мають стати ЧЕСТЬ, РОЗУМ І ПРАЦЯ. А ще окрім нас самих ніхто не вирішить наші проблеми. Тому САМІ мусимо дізнаватись з ким маємо справу!</p>
                    <span></span>
                </div>

                <div class="author">
                    <img src="images/oleg.jpg" />
                    <b>Олег</b>,
                    <span>Організатор</span>
                    <a href="mailto:oleg@persony.info">oleg@persony.info</a>
                 </div>
            </div>
            <div class="founders col-sm-4">
                <div class="comment">
                    <p>Не пройобуйте.</p>
                    <span></span>
                </div>

                <div class="author">
                    <img src="images/yurko.jpg" />
                    <b>Юрій</b>,
                    <span>Інженер</span>
                    <a href="mailto:yurko@persony.info">yurko@persony.info</a>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>

    <div id="video-about" ng-if="false">
        <iframe type="text/html" width="520" height="390" src="http://tvi.ua/embed.php?video=38523" frameborder="0"></iframe>
    </div>

    <div class="row">
        <div class="about-item col-sm-6">
            <h3 class="about-heading">Девелопери ентузіасти:</h3>
            <div class="author_mini">
                <img src="images/volunteer.png" />
                <p> <b>Дмитро</b>,</p>
                <span>Front-end, Angular.js</span>
            </div>
            <div class="author_mini">
                <img src="images/volunteer.png" />
                <p> <b>Олексій</b>,</p>
                <span>Back-еnd, Node.js</span>
            </div>
            <div class="author_mini">
                <img src="images/volunteer.png" />
                <p><b>Пєрсик</b>,</p>
                <span>Архітектор ПЗ</span>
            </div>
            <div class="author_mini">
                <img src="images/volunteer.png" />
                <p> <b>Сергій</b>,</p>
                <span>Дизайн, UI</span>
            </div>
        </div>
        <div class="about-item col-sm-6">
            <h3 class="about-heading">Дописувачі ентузіасти:</h3>
            <div class="author_mini">
                <img src="images/volunteer.png" />
                <p> <b>Леся</b></p>
                <span></span>
            </div>
            <div class="author_mini">
                <img src="images/volunteer.png" />
                <p>  <b>Лілія</b></p>
                <span></span>
            </div>
            <div class="author_mini">
                <img src="images/volunteer.png" />
                <p><b>Олена</b></p>
                <span></span>
            </div>
            <div class="author_mini">
                <img src="images/volunteer.png" />
                <p>  <b>Віктор</b></p>
                <span></span>
            </div>
        </div>
    </div>
    <div class="separator"></div>

    <h4 id="join">Долучитись до розвитку проекту може кожен, хто має бажання:</h4>
    <div class="col-sm-4 join">
        <p>Наші технології:</p>
        <ul>
            <li><i class="fa fa-check fa-lg"></i> &nbsp;Node.js</li>
            <li><i class="fa fa-check fa-lg"></i> &nbsp;Angular</li>
            <li><i class="fa fa-check fa-lg"></i> &nbsp;Mysql</li>
            <li><i class="fa fa-check fa-lg"></i> &nbsp;REST</li>
            <li><i class="fa fa-check fa-lg"></i> &nbsp;Redmine</li>
            <li><i class="fa fa-check fa-lg"></i> &nbsp;Github</li>
            <li><i class="fa fa-check fa-lg"></i> &nbsp;Agile</li>
        </ul>
    </div>

    <div class="col-sm-4 join">
        <p>Потребуємо спеціалістів у сфері:</p>
        <ul>
            <li><i class="fa fa-check fa-lg"></i> &nbsp;Журналісти</li>
            <li><i class="fa fa-check fa-lg"></i> &nbsp;Політологи</li>
            <li><i class="fa fa-check fa-lg"></i> &nbsp;Юристи</li>
            <li><i class="fa fa-check fa-lg"></i> &nbsp;Android розробники</li>
            <li><i class="fa fa-check fa-lg"></i> &nbsp;iOS розробники</li>
            <li><i class="fa fa-check fa-lg"></i> &nbsp;Node.js розробники</li>
            <li><i class="fa fa-check fa-lg"></i> &nbsp;Angular  розробники</li>
            <li><i class="fa fa-check fa-lg"></i> &nbsp;Веб-тестувальники</li>
        </ul>
    </div>

    <div class="col-sm-4 join">
        <p>Можем співпрацювати:</p>
        <ul>
            <li><i class="fa fa-check fa-lg"></i> &nbsp;Ділитися нашими даними</li>
            <li><i class="fa fa-check fa-lg"></i> &nbsp;Надавати діаграми із життєписами для розміщення на Вашому сайті</li>
            <li><i class="fa fa-check fa-lg"></i> &nbsp;Розміщувати доречні діаграми і дані Вашої організації на нашому сайті, із посиланням на Ваш сайт</li>
            <!--li><i class="fa fa-check fa-lg"></i> &nbsp;Розміщувати контекстну рекламу Вашого видання у наших життєписах</li-->
        </ul>
    </div>
    <div class="clearfix"></div>
    <div>А ще ви потрапите в перелік ентузіастів;)</div>

    <div class="help_button"><p>Заповніть одну з запропонованих форм:</p>

        <div class="center-block form-buttons">
            <button type="button" ng-click="formCollapse(0)" class="btn btn-primary"><i class="fa fa-wrench"></i> Хочу девелопити</button>
            <button type="button" ng-click="formCollapse(1)" class="btn btn-info"><i class="fa fa-stack-exchange"></i> Маю що розповісти</button>
            <button type="button" ng-click="formCollapse(2)" class="btn btn-success"><i class="fa fa-briefcase"></i> Хочем співпрацювати (для організацій)</button>
            <button type="button" ng-click="formCollapse(3)" class="btn btn-warning"><i class="fa fa-question"></i> Просто є питання</button>
        </div>

    </div>
    <div class="panel panel-default collapsable form1" ng-class="{ showMe: !formLists[0].collapsed }">
        <div class="panel-body">
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label for="inputEmail0" class="col-sm-2 control-label">Електронна пошта</label>
                    <div class="col-sm-10">
                        <input type="email" class="form-control" id="inputEmail0" placeholder="Email">
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputName0" class="col-sm-2 control-label">Ім’я</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputName0" placeholder="Ім’я">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> Я знаю Node.js
                            </label>
                        </div>

                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> Я знаю Angular
                            </label>
                        </div>

                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> Я програмую під Android
                            </label>
                        </div>

                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> Я програмую під iOS
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputAdditional0" class="col-sm-2 control-label">Додаткова інформація</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" id="inputAdditional0" placeholder="Опишіть що б ви хотіли робити" rows="3"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-default">Надіслати</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="panel panel-default collapsable form2" ng-class="{ showMe: !formLists[1].collapsed }">
        <div class="panel-body">
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label for="inputEmail1" class="col-sm-2 control-label">Електронна пошта</label>
                    <div class="col-sm-10">
                        <input type="email" class="form-control" id="inputEmail1" placeholder="Email">
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputName1" class="col-sm-2 control-label">Ім’я</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputName1" placeholder="Ім’я">
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputProfession" class="col-sm-2 control-label">Професія</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputProfession" placeholder="Професія">
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputAdditional1" class="col-sm-2 control-label">Додаткова інформація</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" id="inputAdditional1" placeholder="Опишіть що б ви хотіли робити" rows="3"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-default">Надіслати</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="panel panel-default collapsable form3" ng-class="{ showMe: !formLists[2].collapsed }">
        <div class="panel-body">
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label for="inputEmail2" class="col-sm-2 control-label">Електронна пошта</label>
                    <div class="col-sm-10">
                        <input type="email" class="form-control" id="inputEmail2" placeholder="Email">
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputOrganization" class="col-sm-2 control-label">Організація</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputOrganization" placeholder="Організація">
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputAdditional2" class="col-sm-2 control-label">Предмет співпраці</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" id="inputAdditional2" placeholder="Чим можемо бути вам корисні?" rows="3"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-default">Надіслати</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="panel panel-default collapsable form4" ng-class="{ showMe: !formLists[3].collapsed }">
        <div class="panel-body">
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Електронна пошта</label>
                    <div class="col-sm-10">
                        <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputName3" class="col-sm-2 control-label">Ім’я</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputName3" placeholder="Ім’я">
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputAdditional3" class="col-sm-2 control-label">Питання</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" id="inputAdditional3" placeholder="Чим можемо бути вам корисні?" rows="3"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-default">Надіслати</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div id="roadmap" ng-if="false">
        <h4>Роадмап</h4>
        http://almende.github.io/chap-links-library/js/timeline/examples/example15_mobile.html
    </div>
</div>
