<div class="person-detail-header">
  <div class="person-container">

    <user-avatar src="{{person.photo}}" title="{{person.name}}"></user-avatar>

    <div class="person-data pull-left">

      <h3 class="pull-left person-name">{{person.name}}</h3>
      <div class="social-likes social-likes_single social-likes_light" data-single-title="Поширити">
           <div class="facebook" title="Поширити на Фейсбуці">Facebook</div>
           <div class="twitter" title="Твітнути">Twitter</div>
           <div class="vkontakte" title="Поширити у Вконтакті">Вконтакте</div>
           <div class="plusone" title="Поширити за допомогою Гугл">Google+</div>
      </div>
      <div class="clearfix"></div>

      <div class="person-info">{{person.info}}</div>

    </div>

    <div class="clearfix"></div>

  </div>
</div>

<div class="person-timeline">
  <ul class="event-years-list">
    <li ng-repeat="yearData in eventYears" class="li-year">
      <div class="pull-left event-year">{{yearData.year}}</div>
      <ul class="event-monthes-list">
        <li ng-repeat="monthesData in yearData.monthes" class="li-month">
          <div class="event-month">{{monthNames[monthesData.month]}}</div>
          <ul class="events-list">
            <li ng-repeat="event in monthesData.events">
              <div class="event-date">{{event.start | date: "d"}}</div>
              <div class="event-icon"><div class="event-icon-marker">{{event.sourses[0].icon}}i</div></div>
              <div class="event-body" default-state="'short'">
                   <div class="short" ng-show="state.is('short')">
                        <a class="event-link" href="" ng-click="state.set('detail')">{{event.title}}</a>
                   </div>
                   <div class="detail" ng-show="state.is('detail')">
		        <div id="tail"></div>
                   	<a class="event-title ng-binding" href="" ng-click="state.set('short')">{{event.title}}</a>
                        <div class="event-detail-date">{{event.start | date:"dd MMM yyyy"}} (4 лютого)</div>
                        <div class="detail-info">
			     <div class="info-wrap-img"><img src="http://www.europarl.europa.eu/the-president/transform/neartext/galaxy-president/content/static/images/flag_of_ukraine.jpg?hash=1395035991408477895471286393223" /></div>
			     <div class="info-wrap">
				<p class="description">Хтось щось <a href="#">дико</a> дико зробив текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст тексттекст текст текст текст текст текст текст текст текст текст текст текст</p>
				<p class="source">Джерело: <a href="#">Фейсбук</a></p>
                             </div>
		        </div>
	           </div>
              </div>
            </li>
            <div class="clearfix"></div>
          </ul>
        </li>
      </ul>
      <div class="clearfix"></div>
    </li>
  </ul>
</div>
