<div class="container">


  <div class="col-lg-9 main-search-block">
    <h4>Для пошуку особистостей використовуйте поле нижче</h4>
    <br />
    <br />
    <br />
    <br />
    <div class="input-group">
      <input type="text" class="input-lg form-control" placeholder="Шукати можна за Ім'ям, Прізвищем, партією, або іншими ознаками">
      <span class="input-group-btn">
        <button class="btn btn-lg btn-primary" type="button">Пошук персон</button>
      </span>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->

  <div class="clearfix"></div>

  <h4>Вас зацікавлять:</h4>
        <section>
            <div class="interest_person">
                 <a href="/profile/241/"><img  src="http://pt.fordot.com.ua/media/persons/Pankevich.png"title="Панькевич Олег Ігорович" alt="Панькевич Олег Ігорович">
                Панькевич Олег Ігорович</a>
            </div >

            <div  class="interest_person">
                <a href="/profile/241/"> <img src="http://pt.fordot.com.ua/media/persons/ShvaykaIgorOleksandrovych_Photo.36x36.jpg"title="Швайка Ігор Олександрович" alt="Швайка Ігор Олександрович">
                    Швайка Ігор Олександрович</a>
            </div >

            <div  class="interest_person">
                 <a href="/profile/241/"><img src="http://pt.fordot.com.ua/media/persons/KyrylenkoPavloVeniamynovych_Photo.36x36.jpg" title="Кириленко Павло Веніамінович" alt="Кириленко Павло Веніамінович">
                  Кириленко Павло Веніамінович</a>
            </div >

            <div  class="interest_person">
                 <a href="/profile/241/"><img  src="http://pt.fordot.com.ua/media/persons/YankivIgorTarasovych_Photo.36x36.jpg" title="Янків Ігор Тарасович" alt="Янків Ігор Тарасович">
                   Янків Ігор Тарасович</a>
            </div >

            <div e class="interest_person">
                 <a href="/profile/241/"><img src="http://pt.fordot.com.ua/media/persons/MartynyukLeontiy_Photo.36x36.jpg" title="Мартинюк Леонтій Святославович"alt="Мартинюк Леонтій Святославович">
                  Мартинюк Леонтій Святославович</a>
            </div >
			 <div  class="interest_person">
                <a href="/profile/241/"> <img src="http://pt.fordot.com.ua/media/persons/ShvaykaIgorOleksandrovych_Photo.36x36.jpg"title="Швайка Ігор Олександрович" alt="Швайка Ігор Олександрович">
                    Швайка Ігор Олександрович</a>
            </div >
			<div  class="interest_person">
                 <a href="/profile/241/"><img src="http://pt.fordot.com.ua/media/persons/KyrylenkoPavloVeniamynovych_Photo.36x36.jpg" title="Кириленко Павло Веніамінович" alt="Кириленко Павло Веніамінович">
                  Кириленко Павло Веніамінович</a>
            </div >

            <div  class="interest_person">
                 <a href="/profile/241/"><img  src="http://pt.fordot.com.ua/media/persons/YankivIgorTarasovych_Photo.36x36.jpg" title="Янків Ігор Тарасович" alt="Янків Ігор Тарасович">
                   Янків Ігор Тарасович</a>
            </div >

        </section>
		<div class="clearfix"></div>
</div>
