<div class="container">


    <div class="col-lg-9 main-search-block">
        <h4>Для пошуку особистостей використовуйте поле нижче</h4>
        <br/>
        <br/>
        <br/>
        <br/>

        <div class="input-group">
            <input type="text" class="input-lg form-control"
                   placeholder="Шукати можна за Ім'ям, Прізвищем, партією, або іншими ознаками"
                   ng-model="search.keyword"
                   on-enter="search.showResults()"
                    >
      <span class="input-group-btn">
        <button class="btn btn-lg btn-primary" type="button" ng-click="search.showResults()">Пошук персон</button>
      </span>
        </div>
        <!-- /input-group -->
    </div>
    <!-- /.col-lg-6 -->

    <div class="clearfix"></div>

    <h4>Вас зацікавлять:</h4>
    <section>
        <div class="interest_person" ng-repeat="person in featured">
            <a ng-href="/people/{{person.id}}">
                <img
                        ng-src="{{person.photo ? '/avatars/' + person.photo : '/images/apple-touch-icon.png'}}"
                        title="{{person.name}}"
                        alt="{{person.name}}"
                        />
                {{person.name}}
            </a>
        </div>

    </section>
    <div class="clearfix"></div>
</div>
