<div class="container">
    <h4>Всі персони</h4>
    <input
            type="text"
            class="form-control search-query filter"
            placeholder="Фільтр"
            ng-model="search.keyword"
	>

    <!--<div id="filters_container">
		<input type="radio" ng-model="search.sortProp" value="name"> За абеткою
		<input type="radio" ng-model="search.sortProp" value="lastEventDate" ng-disabled="determineLastEventsInProcess"> За останньою подією
	</div>--!>
    <div class="clearfix"></div>
    <div class="post_persons">
        <div ng-repeat="person in persons | filter:search.keyword | orderBy:search.sortProp" class="post_pers">
            <a ng-href="{{person.getUrl()}}">
                <img ng-src="{{person.getPhotoSrc()}}"
                     alt="{{person.name}}"/>
            </a>

            <div class="text">
                <h5><a ng-href="{{person.getUrl()}}">{{person.name}}</a></h5>

                <p class="date">{{person.lastEvent | date:"dd MMM yyyy"}}</p>

                <p ng-bind-html="person.info"></p>
            </div>
			<p class="read-more"><a ng-href="{{person.getUrl()}}" class="btn btn-primary btn-xs">Більше...</a></p>
        </div>
    </div>
</div>
