<ul ng-social-buttons
     data-url="url"
     data-title="title"
     data-description="desc"
     data-image="img">
    <li ng-show="pre">{{pre}}:</li>
    <li class="ng-social-facebook"><i class="fa fa-facebook"></i><b>Facebook</b></li>
    <li class="ng-social-google-plus"><i class="fa fa-google-plus"></i><b>Google+</b></li>
    <li class="ng-social-twitter"><i class="fa fa-twitter"></i><b>Twitter</b></li>
    <li class="ng-social-vk"><i class="fa fa-vk"></i><b>Вконтактi</b></li>
</ul>

<div class="clearfix"></div>
