.modal-open{
  .navbar, .timeline-helper{
    z-index: 1;
  }

  .person-photo, .timeline-zoom{
    display: none;
  }

  .person-data{
    border-left: 0px !important;
  }

  .modal-backdrop{
    z-index: 101;
  }

  .person-header-die{
    z-index: 2;
  }

  .modal-dialog{
    z-index: 200;

    .person-photo, .person-info{
      display: block;
      z-index: 200;
    }

    .person-data{
      z-index: 199;
      border-left: 0px !important;
    }
  }
}

.modal-body{
  img{
    width: 90%;
    @include easings;
  }
}

.modal-body, .modal-header{
  text-align: center !important;

  @include easings;
}

.modal-header{
  h4{
    font-weight: 500 !important;
  }
}

.modal-footer{
  text-align: left !important;
}

.person-modal{
  display: block;
  position: relative;
  min-height: $personHeaderBigDisplayHeight !important;

  .person-photo {
    width: $personPhotoBigDiameter !important;
    height: $personPhotoBigDiameter !important;
    text-align: center;
    background: white;
    border: 5px solid $timelineAxisColour;
    font-size: 24px;
    z-index: 104;
    position: relative;

    @include border-radius(50%);
    @include easings;

    span{
      line-height: 95px;

      @include easings;
    }
  }

  .person-data {
    width: $personHeaderDataDisplayWidth;
    margin-left: -$personPhotoBigRadius;
    padding: 5px 0 18px $personPhotoBigRadius + $personHeaderTextLeftPadding;
    position: relative;
    z-index: 103;
    font-size: 14px;

    .person-info{
      display: block !important;
    }
  }

}