.person-tools, .event-filter{
  z-index: 102;

  @include easings;

  li{
    list-style-type: none;
  }

  a{
    cursor: pointer;
  }

  i{
    color: $toolsButtonColor;
    cursor: pointer;

    @include easings(0.6s);

    &:hover{
      color: black;
    }
  }
}

.person-tools{
  float: right;
  margin-right: 20px;
  height: 24px;
  width: 28px;
}

.event-tools{
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 10px;

  a{
    color: $toolsButtonColor;

    &:hover{
      color: black;
    }
  }

  li{
    margin: 0 !important;
  }
}

.event-filter{
  cursor: pointer;
  margin-right: 20px;
  margin-top: $personHeaderBigDisplayHeight - $personPageHeaderBigMarginTopBottom * 2 - 30px;

  @include border-radius(3px);

  a{
    color: $timelineLink;
    font-weight: 500;
  }

  i{
    margin-right: 4px; //space
  }

  &:hover{
    a{
      color: $timelineLinkHover;
    }

    i{
      color: black;
    }
  }
}

.page-header.shrink .event-filter{
  margin-top: $personHeaderSmallDisplayHeight - $personPageHeaderSmallMarginTopBottom * 2 - 30px;
}

//For tablet
@media screen and (max-width: 995px) {
  .page-header, .page-header.shrink{
    .event-filter {
      margin-top: $personHeaderSmallDisplayHeight - $personPageHeaderSmallMarginTopBottom * 2 - 30px;
    }

    .event-filter, .person-tools{
      margin-right: 20px;
    }
  }
}

//For mobile
@media screen and (max-width: 767px) {
  .event-filter {
    i.fa-filter{
      font-size: 2em;
    }

    span{
      display: none;
    }
  }
}
