//Color Scheme
$backgroundHeaderFooter:#222;
$textOnLightBkg:#222;
$mainBackground: #f2f2f2;
$selectTextOnLightBkg:#999;
$linkColorOnLightBkg: #3e8ffd;
$linkColorOnLightBkgHover: #005580;
$textOnDarkBkg:#fff;
$selectedMenu:#f98262;
$blockBackground:#fff;
$blockBorder:#ccc;
$inputBkg:#ebebeb;

$selectedTextOnDarkBkg:#fff;
$LinkOnDarkFon:#3e8ffd;
$HoverLinkOnDarkFon:#005580;

$TextOnInput:#b2b2b2;
$ColorTimeline:#ddd;
$ToolsButton:#222;
$HoverToolsButton:#000;
$BackgrounPerson:#eee;

// Main
$danger: #b87582;
$primary: #428bca;
$warning: #b6a87f;
$success: #47a447;

// Links
$linkColorOnLightBkg: #3e8ffd;
$linkColorOnLightBkgHover: #005580;

// Navigation
$textOnDarkBkg: #fff;
$selectedMenu: #f98262;

// Navigation Search
$inputBkg: #ebebeb;

//PersonBlock
$blockBackground: #fff;
$blockBorder: #ccc;

//Button on All page
$regularAllPageButtonBorderColour: #0266ec;
$regularAllPageButtonColour: #8abbfe;
$hoverAllPageButtonBorderColour: #28597a;
$hoverAllPageButtonColour: #28597a;

// Timeline
$timelineAxisColour: #DDD;
$timelineDedicatedAxisColour: #999;
$timelinePersonBgColour: #eee;
$timelinePersonBgColourRGBA02: rgba(238,238,238, 0.2);
$timelineLink: #00669a;
$timelineLinkHover: #00409a;
$timelineHelperActive: #003070;
$timelineEventBgColour: #e0e0e0;
$metallicSilver: #8f999f;

// Timeline zoom control
$zoomActiveColor: #6d6d6d;
$zoomHoverColor: #9e9e9e;
$zoomLabelTextColor: #fff;
$zoomLabelBkgColor: #000;
$zoomAxisColor: #9e9e9e;
$zoomLimitLabelTextColor: $zoomLabelTextColor;

//detailPerson page
$toolsButtonColor: #777;

//About
$inactiveTabTextColour: #696969;
$inactiveTabBgColour: #e9e9e9;

//Social Colours
$FacebookBlue: #3B5998;
$TwitterBlue: #00aced;
$GooglePlusRed: #dd4b39;
$YouTubeRed: #bb0000;
$LinkedinBlue: #007bb6;
$InstagramBlue: #517fa4;
$PinterestRed: #cb2027;
$QuoraBurgundy: #a82400;
$FlickrPink: #ff0084;
$TumblrDarkTurquoise: #32506d;
$VKBlue: #45668e;
$VimeoGreen: #aad450;
$FoursquareBlue: #0072b1;

