// Main
$mainBackgroundColour: #f2f2f2;
$mainTextColour: #222;

// Links
$regularLinkColour: #3e8ffd;
$hoverLinkColour: #005580;

// Navigation
$mainMenuColour: #b2b2b2;
$mainMenuActiveColour: #f98262;

// Navigation Search
$mainSearchNavBgColour: #666;

//PersonBlock
$personBlockBackgroundColour: #fff;
$personBlockBorderColour: #ccc;

// Timeline
$timelineAxisColour: #DDD;
$timelinePersonBgColour: #eee;
$red: #f98262;