.wrap {
  position: relative;
  max-width: 1260px;
  margin: 0 auto;
}

#footer {
  min-height: 120px;
  background: $mainTextColour;
  color: white;
  max-width: 1260px;
  border-radius: 10px 10px 0 0;
  padding: 30px;
  margin-top: 50px;
  text-align: center;

  .social {


    a{
      margin: 10px;
      text-decoration: none;

      span {
        display: inline-block;
        width: 33px;
        height: 33px;

        &.ico1, &.ico1h{
          background-position: 0px 0px !important;
        }

        &.ico2, &.ico2h{
          background-position: -37px 0px !important;
        }

        &.ico3, &.ico3h{
          background-position: -75px 0px !important;
        }

        &.ico7, &.ico7h{
          background-position: -226px 0px !important;
        }

        &.socialicons {
          background: url('../../images/socicons.png') no-repeat;
        }

        &.socialicons_h {
          background: url('../../images/socicons_h.png') no-repeat;
          display: none;
        }
      }

      &:hover{
        span{
          &.socialicons{
            display: none;
          }

          &.socialicons_h{
            display: inline-block !important;
          }
        }
      }
    }
  }

  .copyright {
    color: $mainBackgroundColour;
    font-style: italic;
    margin-top: 30px;
  }
}