@import "compass/css3/transition";
@import "compass/css3/border-radius";

body {
  color: #222;
  font-family: 'Roboto', Arial, Tahoma, sans-serif !important;
  font-weight: 300 !important;
  background: url(../../images/agsquare.png) repeat #f2f2f2 ! important;
}

@mixin easings {
    @include transition(all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1));
}

a{
  text-decoration: underline;
  color: #3e8ffd;

  @include easings;
}

a:hover {
  color: #005580;
}

ul, ol {
  margin: 0;
  padding: 0;
}

ul li, ol li {
  list-style: none;
}

@import "navbar";
@import "all_page";
@import "main_page";
@import "timeline";
@import "footer";
@import "alpha_version";