//using
@import "compass/css3/border-radius";
@import "mixins";
@import "colours";

// U_N_S_O_R_T_E_D
$bg: url(../../images/agsquare.png) repeat $mainBackgroundColour ! important;

body {
  color: $mainTextColour;
  font-family: 'Roboto', Arial, Tahoma, sans-serif !important;
  font-weight: 300 !important;
  background: $bg;
}

a{
  text-decoration: underline;
  color: $regularLinkColour;

  @include easings;
}

a:hover {
  color: $hoverLinkColour;
}

ul, ol {
  margin: 0;
  padding: 0;
}

ul li, ol li {
  list-style: none;
}

h5 {
  font-size: 22px;
  font-weight: 300;
}

h4 {
  font: 32px;
  font-weight: 100;
}

.logo img {
  margin: 4px 50px 0 0;
}

//submodules
@import "navbar";
@import "all/main";
@import "main/main";
@import "detailPerson/main";
@import "footer";
@import "alpha_version";