
.navbar-static-top{
  border-width: 0;
}

.nav li {
  height: 50px !important;
  padding: 0 20px;
  cursor: pointer;
  border-bottom: 4px solid transparent;

  @include easings;
}

.nav li:hover{
  border-bottom: 4px solid #3E8FFD;
  color: #3e8ffd;
}

.nav a:hover, .nav li:hover a, .navbar-nav>.active>a:hover{
  color: #3e8ffd !important;
  text-decoration: none;
}

.nav a {
  color: #b2b2b2;
  text-decoration: none;
  font-weight: 600;
  line-height: 14px !important;
  display: block;
}

.navbar {
  margin: 0;
}

.navbar a {
  text-decoration: none;
}

.search-form {
  width: 200px;
  margin-top: 11px;
}

.search-form .search-input,
.search-form .input-group-addon {
  border: 0;
  height: 27px;
  background: #666;

  @include border-left-radius(2px);
}

.search-input{
  @include border-right-radius(2px);
}

.search-form .search-input {
  font-style: italic;
  padding-left: 0;
  font-size: 12px;
  color: white;
}

.navbar-inverse {
  background: #080808;
}

.logo img {
  margin: 4px 50px 0 0;
}