$navbarSearchDisplayWidth: 200px;

.navbar-static-top{
  border-width: 0;
}

.nav{
  li {
    height: $navbarHeight !important;
    cursor: pointer;
    border-bottom: 4px solid transparent;

    @include easings;

    &:hover{
      border-bottom: 4px solid $regularLinkColour;

      a{
        color: $regularLinkColour !important;
        text-decoration: none;
      }
    }
  }

  a {
    color: $mainMenuColour;
    text-decoration: none;
    font-weight: 500;
    line-height: 14px !important;
    display: block;

    &:hover{
      color: $regularLinkColour !important;
      text-decoration: none;
    }
  }
}

.navbar-nav>.active>a:hover{
  color: $regularLinkColour !important;
  text-decoration: none;
}

.navbar {
  margin: 0;

  @include opacity(0.9);

  a{
    text-decoration: none;
  }
}

.search-form {
  width: $navbarSearchDisplayWidth;
  margin-top: 11px;

  .search-input, .input-group-addon{
    border: 0;
    height: 27px;
    background: $mainSearchNavBgColour;

    @include border-left-radius(2px);
  }

  .search-input{
    font-style: italic;
    padding-left: 0;
    font-size: 12px;
    color: white;

    @include border-right-radius(2px);
  }
}

.navbar-inverse{
  background: $mainTextColour;

  .navbar-nav > .active{
    border-bottom: 4px solid $mainMenuActiveColour;
  }

  .navbar-nav > .active > a{
    background: $mainTextColour !important;
  }
}

.collapse-btn.btn-navbar{
  display: none;
  margin-right: 10px;
}

@media screen and (max-width: 768px){
  .collapse-btn.btn-navbar{
    display: inline-block;
  }

  .nav{
    li {
      border: 0 !important;
      height: auto !important;
    }
  }
}