  .ng-social {
    margin: 0;
    line-height: 20px;
    list-style: none;
  }
  .ng-social, .ng-social-_widget {
    display: inline-block;
    vertical-align: middle;
    line-height: 20px;
    text-indent: 0;
    padding: 0;
    border: 0;
    margin-top: 2px;
    word-spacing: 0;
    font-size: 12px;
  }
  .ng-social li {
    display: inline-block;
    margin: 0 2px 3px !important;
    min-height:20px !important;
  }
  .ng-social-vk .ng-scope{
    max-height:20px !important;
  }

  .ng-social-facebook,.ng-social-google-plus,.ng-social-twitter,.ng-social-vk {
    background: #fff;
    color: #000;
    border-color: #ccc;
    border-radius: 3px;
    cursor: pointer;
    font-weight: 300;
    cursor: pointer;
    user-select: none;
    max-height: 20px !important;
  }
  .ng-social-button {
    position: relative;
   padding: 1px 5px;
    text-decoration: none !important;
  }

  .ng-social-button, .ng-social-counter {
    display: inline-block;
    margin: 0;
    line-height: 18px;
    outline: 0;
  }
  .ng-social-icon {
  display:none;
  }
  .ng-social-facebook i,.ng-social-google-plus i,.ng-social-twitter i,.ng-social-vk i{
    padding-right:4px;

  }
  .ng-social-facebook:hover,.ng-social-facebook:hover i{background:#3B5998;color:#fff !important; border-radius: 3px;}
  .ng-social-google-plus:hover,.ng-social-google-plus:hover i{background:#dd4b39;color:#fff !important;border-radius: 3px;}
  .ng-social-twitter:hover,.ng-social-twitter:hover i{background:#00aced;color:#fff !important;border-radius: 3px;}
  .ng-social-vk:hover,.ng-social-vk:hover i {background:#45668e;color:#fff !important;border-radius: 3px;}
.ng-scope b{
  font-weight:300;
  text-decoration: none !important;
  color: #000;
}
  .ng-social-vk:hover b,,.ng-social-twitter :hover b,.ng-social-google-plus:hover b,.ng-social-facebook:hover b  {
    color:#fff !important;
    text-decoration: none !important;
  }
  //For tablet
  @media screen and (max-width: 995px) {
    .page-header .person-header .person-socials li{
      display:inline-block !important;
    }
    .page-header .person-header .person-socials{
      margin-top:-20px;
    }
    .ng-social-text b{
      display: none;
    }
  }

  //For mobile
  @media screen and (max-width: 767px) {
    .page-header .person-header .person-socials li{
      display:inline-block !important;
    }
    .page-header .person-header .person-socials{
      margin-top:-20px;
    }
    .ng-social-text b{
      display: none;
    }
  }

 //shrink
  @media screen and (min-width: 995px){
.shrink .ng-social-text b{
  display: none !important;
}
}
