/* -------------------------------------
 * Colours of source indicators
 * ------------------------------------- */

.fa-info{
  color: $FoursquareBlue;
}

.fa-video-camera{
  color: $YouTubeRed;
}

.fa-microphone{
  color: $metallicSilver;
}

.fa-file-text{
  color: black;
}

.fa-twitter{
  color: $TwitterBlue;
}

.fa-facebook{
  color: $FacebookBlue;
}

.fa-vk{
  color: $VKBlue;
}

.fa-google-plus{
  color: $GooglePlusRed;
}

.fa-paperclip{
  color: black;
}

.fa-link{
  color: $linkColorOnLightBkg;
}

.fa-wiki{
  color: black;
}