<!DOCTYPE html>

<html >
<head lang="uk">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Біографії кандидатів в президенти України. Докладні життєпиписи політичних персон України</title>
    <base href=".">

    <meta name="url" content="http://persony.info/">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="title" content="&lt;Біографії кандидатів в президенти України. Докладні життєпиписи політичних персон України">
    <meta name="viewport" content="width=device-width">
    <meta name="language" content="uk">
    <meta http-equiv="Content-Language" content="uk">
    <meta name="distribution" content="global">
    <meta name="robots" content="index, follow">
    <meta name="resource-type" content="document">
    <meta name="revisit" content="15">
    <meta name="document-state" content="Dynamic">
    <meta name="classification" content="Інформаційний ресурс">
    <link href="http://localhost:3000/favicon.ico" rel="shortcut icon" type="image/x-icon">

    <meta name="classification" content="Інформаційний ресурс">
    <meta name="categories" content="Біографія політиків, життепис депутатів, иття можновладців, правда про політику">
    <meta name="keywords" content="Біографія політиків, життепис депутатів, иття можновладців, правда про політику ">
    <meta http-equiv="keywords" content="Біографія політиків, життепис депутатів, иття можновладців, правда про політику ">
    <meta name="description" content="При владі мають бути люди, що відповідають за свої вчинки і слова. Давайте разом слідкувати за обранцями.">
    <meta http-equiv="description" content="При владі мають бути люди, що відповідають за свої вчинки і слова. Давайте разом слідкувати за обранцями.">

    <!-- build:css({.tmp,app}) styles/main.css -->
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.css">
    <link rel="stylesheet" href="http://localhost:3000/styles/font-awesome.min.css">
    <link rel="stylesheet" href="http://localhost:3000/styles/compiled/main.css">
    <link rel="stylesheet" href="http://localhost:3000/styles/soclikes_birman.css">

    <link href="./Біографії кандидатів в президенти України. Докладні життєпиписи політичних персон України_files/css" rel="stylesheet" type="text/css">
    <!-- endbuild -->

    <link rel="shortcut icon" type="image/x-icon" href="http://localhost:3000/favicon.ico">
    <link rel="apple-touch-icon" sizes="57x57" href="http://localhost:3000/images/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="http://localhost:3000/images/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="76x76" href="http://localhost:3000/images/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="72x72" href="http://localhost:3000/images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="http://localhost:3000/images/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="http://localhost:3000/images/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="http://localhost:3000/images/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="http://localhost:3000/images/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon-precomposed" href="http://localhost:3000/images/apple-touch-icon.png">
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="http://localhost:3000/images/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="http://localhost:3000/images/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="http://localhost:3000/images/apple-touch-icon-152x152.png">

    <script type="text/javascript" async="" src="./Біографії кандидатів в президенти України. Докладні життєпиписи політичних персон України_files/watch.js"></script><script async="" src="./Біографії кандидатів в президенти України. Докладні життєпиписи політичних персон України_files/analytics.js"></script><script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-47498905-2', 'persony.info');
    ga('send', 'pageview');

</script><style type="text/css"></style>

    <script type="text/javascript" src="./Біографії кандидатів в президенти України. Докладні життєпиписи політичних персон України_files/getAllAppDefault.esi"></script><script type="text/javascript" src="./Біографії кандидатів в президенти України. Докладні життєпиписи політичних персон України_files/checkOAuth.esi"></script><link rel="stylesheet" type="text/css" href="./Біографії кандидатів в президенти України. Докладні життєпиписи політичних персон України_files/buttons.5be48d105d7701b1bc41eccdea7af7f3.css"></head>

<body  style="" onclick="if(stWidget.buttonClicked==false){stWidget.stopClosing=false;stWidget.openDuration=0;stWidget.stClose(100);}">
<nav class="navbar navbar-static-top navbar-inverse navbar-fixed-top ng-scope" role="navigation" ng-controller="controllers.navbar">
    <div class="container">
        <div class="logo pull-left">
            <a href="http://localhost:3000/"><img src="./Біографії кандидатів в президенти України. Докладні життєпиписи політичних персон України_files/logo.png" height="40px" ng-click="Navbar.collapsed = true"></a>

        </div>

    </div>

</nav>


<div class="main-container ng-scope"><div class="container ng-scope">

    <p class="error_number">500</p>
    <p class="error_text">Сталась технічна помилка.<br>
        Зайдіть на сайт трохи пізніше.
    </p>
</div></div>
<div class="wrap">

    <footer id="footer">
        <div class="row">
            <div class="col-sm-6">
                <div class="fotter_mail">
                    <a href="mailto:persony.project@gmail.com" style="text-decoration: none !important;"><i class="fa fa-envelope-o"></i> hurtom@persony.info</a>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="social">

                    <div class="social-icon facebook"><a href="https://www.facebook.com/persony.persony"><i class="fa fa-facebook fa-2x"></i></a></div>
                    <div class="social-icon twitter"><a href="https://twitter.com/PersonyProject"><i class="fa fa-twitter fa-2x"></i></a></div>
                    <div class="social-icon gplus"><a href="https://plus.google.com/107673314003532823384/posts"><i class="fa fa-google-plus fa-2x"></i></a></div>
                    <div class="social-icon vk"><a href="#"><i class="fa fa-vk fa-2x"></i></a></div>

                </div>
            </div>

        </div>
        <div class="copyright">
            <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/deed.uk"><img
                    alt="Ліцензія Creative Commons" style="border-width:0;margin-top:8px;"
                    src="http://i.creativecommons.org/l/by-sa/4.0/88x31.png"/></a>
            Проект &laquo;<span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/Dataset" property="dct:title" rel="dct:type">Персони</span>&raquo;
            ліцензовано за <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/deed.uk" style="color:#005580;">
            ліцензією Creative Commons Із зазначенням автора - Розповсюдження на тих самих умовах 4.0 Міжнародна</a>.
        </div>
    </footer>
</div>
<!-- Yandex.Metrika counter -->
<script type="text/javascript">
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter24100588 = new Ya.Metrika({id:24100588,
                    webvisor:true,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true});
            } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
                s = d.createElement("script"),
                f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks");
</script>
<noscript>&lt;div&gt;&lt;img src="//mc.yandex.ru/watch/24100588" style="position:absolute; left:-9999px;" alt="" /&gt;&lt;/div&gt;</noscript>
<!-- /Yandex.Metrika counter -->
<script type="text/javascript" src="./Біографії кандидатів в президенти України. Докладні життєпиписи політичних персон України_files/buttons.js"></script>
<script>
    stLight.options({publisher: "58ae2a33-2f29-4fbb-8ed0-76b6d3060471", doNotHash: false, doNotCopy: false, hashAddressBar: false})
</script>
</body></html>