<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" ng-app="personyApp" ng-controller="PageCtrl"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" ng-app="personyApp" ng-controller="PageCtrl"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" ng-app="personyApp" ng-controller="PageCtrl"> <![endif]-->
<!--[if gt IE 8]><!--> <html  class="no-js" ng-app="personyApp" ng-controller="PageCtrl"> <!--<![endif]-->
<head lang="uk">
  <title>{{Page.getTitle()}}</title>

  <base href="/">
  <meta name="url" content="http://persony.info/">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="title" content="{{Page.getTitle()}}" />
  <meta name="viewport" content="width=device-width"/>
  <meta name="language" content="uk"/>
  <meta http-equiv="Content-Language" content="uk"/>
  <meta name="distribution" content="global">
  <meta name="robots" content="index, follow"/>
  <meta name="resource-type" content="document"/>
  <meta name="revisit" content="15"/>
  <meta name="document-state" content="Dynamic"/>
  <meta name="classification" content="Інформаційний ресурс"/>
  <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon"/>

  <meta name="classification" content="Інформаційний ресурс"/>
  <meta name="categories" content="Біографія політиків, життепис депутатів, життя можновладців, правда про політику"/>
  <meta name="keywords" content="Біографія політиків, життепис депутатів, життя можновладців, правда про політику "/>
  <meta http-equiv="keywords" content="{{Page.getKeywords()}}"/>
  <meta name="description" content="{{Page.getDescription()}}"/>
  <meta http-equiv="description" content="{{Page.getDescription()}}"/>

  <meta property="og:url" content="http://persony.info/" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="{{Page.getTitle()}}" />
  <meta property="og:description" content="{{Page.getDescription()}}" />
  <meta property="og:image" content="{{Page.getImage()}}" />

  <!-- build:css({.tmp,app}) styles/main.css -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.css">
  <link rel="stylesheet" href="styles/font-awesome.min.css">
  <link rel="stylesheet" href="styles/compiled/main.css">
  <link rel="stylesheet" href="styles/soclikes_birman.css">  
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300&subset=cyrillic-ext,latin' rel='stylesheet' type='text/css'>
  <!-- endbuild -->

  <link rel="shortcut icon" type="image/x-icon" href="favicon.ico"/>
  <link rel="apple-touch-icon" sizes="57x57" href="images/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="images/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="76x76" href="images/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="images/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="images/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="images/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon-precomposed" href="images/apple-touch-icon.png">
  <link rel="apple-touch-icon-precomposed" sizes="76x76" href="images/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon-precomposed" sizes="120x120" href="images/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon-precomposed" sizes="152x152" href="images/apple-touch-icon-152x152.png">
  <link href="https://google.com/+PersonyInfoProject" rel="publisher" />

  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-47498905-2', 'persony.info');
  ga('send', 'pageview');

  </script>

    <script type="text/javascript">
        (function() {
            var po = document.createElement("script"); po.type = "text/javascript"; po.async = true;
            po.src = "https://apis.google.com/js/plusone.js?publisherid=116745259163719708742";
            var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(po, s);
        })();
    </script>

</head>

<body scroll-up>
<div class="page-wrapper">
    <nav class="navbar navbar-static-top navbar-inverse navbar-fixed-top" role="navigation" ng-controller="controllers.navbar">
        <div class="container">
            <div class="logo pull-left">
                <a href="/"><img src="images/logo.png" height="40px" ng-click="Navbar.collapsed = true"/></a>
                <a ng-click="Navbar.collapsed = !Navbar.collapsed" class="btn btn-default btn-navbar collapse-btn">
                    <i class="fa fa-bars fa-lg"></i>
                </a>
            </div>

            <div class="navbar-collapse collapse navbar-responsive-collapse" collapse="Navbar.collapsed">
                <ul class="nav navbar-left navbar-nav">
                    <li ng-class="{'active':getClass('/persons')}" ng-click="Navbar.collapsed = true"><a ng-href="/persons" ng-click="search.clear(); search.showResults()">Всі</a></li>
                    <li ng-if="false" ng-click="Navbar.collapsed = true" ><a href="#">Дуелі</a></li>
                    <li ng-class="{'active':getClass('/about')}" ng-click="Navbar.collapsed = true" ><a href="/about">Про проект</a></li>
                </ul>

                <ul class="nav navbar-right navbar-nav">
                    <form class="navbar-form navbar-left search-form" role="search">
                        <div class="input-group">
                            <span class="input-group-addon" ng-click="search.showResults()"><i class="fa fa-search"></i></span>
                            <input
                                    type="text" class="form-control search-input" placeholder="Шукати"
                                    ng-model="search.keyword"
                                    on-enter="search.showResults()"
                                    >
                        </div>
                    </form>
                    <li class="dropdown navbar-right" ng-if="false">
                        <a class="dropdown-toggle" href="#" data-toggle="dropdown">Sign Up<b class="caret"></b></a>
                        <div class="row dropdown-menu">
                            <div class="col-md-12" style="padding: 15px;min-width: 250px;">
                                <form class="form" role="form" method="post" action="/auth/signup" accept-charset="UTF-8" id="signup-nav">
                                    <div class="form-group">
                                        <label class="sr-only" for="email_field_up">Email address</label>
                                        <input type="email" class="form-control" name="email" id="email_field_up" placeholder="Email address" required>
                                    </div>
                                    <div class="form-group">
                                        <label class="sr-only" for="password">Password</label>
                                        <input type="password" class="form-control" name="password" id="password" placeholder="Password" required>
                                    </div>
                                    <div class="form-group">
                                        <label class="sr-only" for="password_confirm">Password</label>
                                        <input type="password" class="form-control" name="password_confirm" id="password_confirm" placeholder="Password" required>
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-success btn-block">Sign Up</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </li>
                    <li class="dropdown" ng-if="false">
                        <a class="dropdown-toggle" data-toggle="dropdown">Sign in <b class="caret"></b></a>
                        <div class="row dropdown-menu" style="padding: 15px;min-width: 250px;">
                            <div class="col-md-12">

                                <form class="form" role="form" method="post" action="/auth/login" accept-charset="UTF-8" id="login-nav">
                                    <div class="form-group">
                                        <label class="sr-only" for="email_field">Email address</label>
                                        <input type="email" class="form-control" id="email_field" name="email" placeholder="Email address" required>
                                    </div>
                                    <div class="form-group">
                                        <label class="sr-only" for="password_field">Password</label>
                                        <input type="password" class="form-control" name="password" id="password_field" placeholder="Password" required>
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-success btn-block">Sign in</button>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </li>
                    <li class="dropdown" ng-if="false">
                        <a class="dropdown-toggle" data-toggle="dropdown">Log out<b class="caret"></b></a>
                        <div class="row dropdown-menu" style="padding: 15px;min-width: 250px;">
                            <div class="col-md-12">
                                <form class="form" role="form" method="post" action="/auth/logout" accept-charset="UTF-8" id="login-nav">
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-success btn-block">Log Out</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

        </div>

    </nav>

    <!--<div class="help-tip alert alert-success alert-dismissable">
        <button type="button" class="close" id="help-tip-close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <span class="help-tip-text">Тут <strong>МАЄ</strong> буть підказка щодо <a href="#" class="alert-link">функціоналу</a>. <span id="help-tip-close-link" class="alert-link">Сховати</span></span>
    </div>-->

    <div ng-view="" class="main-container">
        <div class="container loading">
            <i class="fa fa-spinner fa-spin fa-5x"></i>
        </div>
    </div>

    <script src="bower_components/jquery/jquery.js"></script>
    <script src="scripts/soclikes.min.js"></script>
    <script src="scripts/twitterPostFetcher.js"></script>

    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-i18n/angular-locale_uk-ua.js"></script>

    <!-- wk -->
    <!--script src="bower_components/angular-social/angular-social.js"></script-->
    <script src="bower_components/angular-social/src/scripts/00-directive.js"></script>
    <script src="bower_components/angular-social/src/scripts/02-facebook.js"></script>
    <script src="bower_components/angular-social/src/scripts/03-twitter.js"></script>
    <script src="bower_components/angular-social/src/scripts/04-google-plus.js"></script>
    <script src="bower_components/angular-social/src/scripts/05-vk.js"></script>
    <!--script src="bower_components/angular-social/src/scripts/06-odnoklassniki.js"></script-->
    <!--script src="bower_components/angular-social/src/scripts/07-mailru.js"></script-->
    <!--script src="bower_components/angular-social/src/scripts/08-pinterest.js"></script-->
    <!--script src="bower_components/angular-social/src/scripts/09-github.js"></script-->
    <!--script src="bower_components/angular-social/src/scripts/09-github-forks.js"></script-->
    <!--script src="bower_components/angular-social/src/scripts/10-stumbleupon.js"></script-->
    <!--link rel="stylesheet" href="bower_components/angular-social/angular-social.css"-->
    <!-- /wk -->

    <!-- build:js(app) scripts/modules.js -->
    <script src="/bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-strap/dist/angular-strap.min.js"></script>
    <script src="bower_components/angular-strap/dist/angular-strap.tpl.min.js"></script>
    <script src="bower_components/angularjs-slider/rzslider.js"></script>
    <script src="bower_components/moment/moment.js"></script>
	<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
	<script src="bower_components/angular-bootstrap-datetimepicker/src/js/datetimepicker.js"></script>	
	<script src="bower_components/select2/select2.js"></script>
	<script src="bower_components/angular-ui-select2/src/select2.js"></script>
    <script src="bower_components/jcrop/js/jquery.Jcrop.min.js"></script>
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/services/page.js"></script>
    <script src="scripts/services/person.js"></script>
    <script src="scripts/services/event.js"></script>
    <script src="scripts/services/search.js"></script>
    <script src="scripts/services/contact.js"></script>
    <script src="scripts/controllers/error.js"></script>
    <script src="scripts/controllers/main.js"></script>
    <script src="scripts/controllers/persons.js"></script>
    <script src="scripts/controllers/detailsPerson.js"></script>
    <script src="scripts/controllers/about.js"></script>
    <script src="scripts/controllers/page.js"></script>
    <script src="scripts/controllers/navbar.js"></script>
    <script src="scripts/controllers/personCRUD.js"></script>
    <script src="scripts/directives/scrollUp.js"></script>
    <script src="scripts/directives/onEnter.js"></script>
    <script src="scripts/directives/socialLikes.js"></script>
    <script src="scripts/directives/eventIconMarker.js"></script>
    <script src="scripts/directives/person-details.js"></script>
    <script src="scripts/directives/external-link.js"></script>
    <script src="scripts/filters/monthName.js"></script>
    <!-- endbuild -->
    <div class="page-buffer"></div>
</div>

<div class="wrap">

    <footer id="footer">
        <div class="row">
            <div class="col-sm-4">
                <div class="fotter_mail">
                    <a href="mailto:persony.project@gmail.com" style="text-decoration: none !important;"><i class="fa fa-envelope-o"></i> hurtom@persony.info</a>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="social">
                    <a href="https://www.facebook.com/persony.persony" external-link><div class="social-icon facebook"><i class="fa fa-facebook fa-2x"></i></div></a>
                    <a href="https://twitter.com/PersonyProject" external-link><div class="social-icon twitter"><i class="fa fa-twitter fa-2x"></i></div></a>
                    <a href="https://google.com/+PersonyInfoProject" external-link><div class="social-icon gplus"><i class="fa fa-google-plus fa-2x"></i></div></a>
                    <a href="https://vk.com/persony_info" external-link><div class="social-icon vk"><i class="fa fa-vk fa-2x"></i></div></a>

                </div>
            </div>
            <div class="col-sm-4">
                <a class="btn btn-success" href="about?scrollTo=join" ng-click="hashScroll()"><i class="fa fa-pencil-square-o"></i>  Долучитись</a>
                <a class="btn btn-warning" href="about?scrollTo=donate" ng-click="hashScroll()"><i class="fa fa-money"></i> Допомогти</a>
            </div>
        </div>
         <div class="copyright">
             <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/deed.uk"><img
                     alt="Ліцензія Creative Commons" style="border-width:0;margin-top:8px;"
                     src="http://i.creativecommons.org/l/by-sa/4.0/88x31.png"/></a>
               Проект &laquo;<span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/Dataset" property="dct:title" rel="dct:type">Персони</span>&raquo;
            ліцензовано за <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/deed.uk">
            ліцензією Creative Commons Із зазначенням автора - Розповсюдження на тих самих умовах 4.0 Міжнародна</a>.
         </div>
    </footer>
</div>
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
        (function (d, w, c) {
            (w[c] = w[c] || []).push(function() {
                try {
                    w.yaCounter24100588 = new Ya.Metrika({id:24100588,
                        webvisor:true,
                        clickmap:true,
                        trackLinks:true,
                        accurateTrackBounce:true});
                } catch(e) { }
            });

            var n = d.getElementsByTagName("script")[0],
                    s = d.createElement("script"),
                    f = function () { n.parentNode.insertBefore(s, n); };
            s.type = "text/javascript";
            s.async = true;
            s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

            if (w.opera == "[object Opera]") {
                d.addEventListener("DOMContentLoaded", f, false);
            } else { f(); }
        })(document, window, "yandex_metrika_callbacks");
    </script>
    <noscript><div><img src="//mc.yandex.ru/watch/24100588" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
</body>
</html>
