<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" ng-app="personyApp" ng-controller="PageCtrl"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" ng-app="personyApp" ng-controller="PageCtrl"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" ng-app="personyApp" ng-controller="PageCtrl"> <![endif]-->
<!--[if gt IE 8]><!--> <html  class="no-js" ng-app="personyApp" ng-controller="PageCtrl"> <!--<![endif]-->
<head lang="uk">
  <title>Боротьба за суверенність України. Ми Єдині</title>
  <base href="/">

  <meta name="url" content="http://persony.info/">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="title" content="Боротьба за суверенність України. Ми Єдині" />
  <meta name="viewport" content="width=device-width"/>
  <meta name="language" content="uk"/>
  <meta http-equiv="Content-Language" content="uk"/>
  <meta name="distribution" content="global">
  <meta name="robots" content="index, follow"/>
  <meta name="resource-type" content="document"/>
  <meta name="revisit" content="15"/>
  <meta name="document-state" content="Dynamic"/>
  <meta name="classification" content="Інформаційний ресурс"/>
  <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon"/>

  <meta name="classification" content="Інформаційний ресурс"/>
  <meta name="categories" content="Біографія політиків, життепис депутатів, иття можновладців, правда про політику"/>
  <meta name="keywords" content="Біографія політиків, життепис депутатів, иття можновладців, правда про політику "/>
  <meta http-equiv="keywords" content="Біографія політиків, життепис депутатів, иття можновладців, правда про політику "/>
  <meta name="description" content="При владі мають бути люди, що відповідають за свої вчинки і слова. Давайте разом слідкувати за обранцями."/>
  <meta http-equiv="description" content="При владі мають бути люди, що відповідають за свої вчинки і слова. Давайте разом слідкувати за обранцями."/>

  <meta property="og:url" content="http://persony.info/" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Боротьба за суверенність України. Ми Єдині" />
  <meta property="og:description" content="{{Page.getDescription()}}" />
  <meta property="og:image" content="{{Page.getImage()}}" />

  <!-- build:css({.tmp,app}) styles/main.css -->
  <link rel="stylesheet" href="styles/bootstrap.css">
  <link rel="stylesheet" href="styles/font-awesome.min.css">
  <link rel="stylesheet" href="styles/main.css">
  <link rel="stylesheet" href="styles/soclikes_birman.css">
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300&subset=cyrillic-ext,latin' rel='stylesheet' type='text/css'>
  <!-- endbuild -->

  <link rel="shortcut icon" type="image/x-icon" href="favicon.ico"/>
  <link rel="apple-touch-icon" sizes="57x57" href="images/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="images/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="76x76" href="images/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="images/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="images/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="images/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon-precomposed" href="images/apple-touch-icon.png">
  <link rel="apple-touch-icon-precomposed" sizes="76x76" href="images/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon-precomposed" sizes="120x120" href="images/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon-precomposed" sizes="152x152" href="images/apple-touch-icon-152x152.png">

  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-47498905-2', 'persony.info');
  ga('send', 'pageview');

  </script>

</head>

<body>
    <div class="blue" style="height: 30px; background: #005BBB; color: #eee; font-size: 16px; font-weight: 600; text-align: center; padding-top: 5px;">Україна Єдина</div>
    <div class="yellow" style="height: 30px; background: #FFD500; color: #333; font-size: 16px; font-weight: 600; text-align: center; padding-top: 5px;">Єдиная Страна</div>

    <div ng-view=""></div>

    <script src="bower_components/jquery/jquery.js"></script>
    <script src="scripts/soclikes.min.js"></script>
    <script>
        $(document).ready(function(){
            //Handles menu drop down
            $('.dropdown-toggle').on("click", function (e) {
                $(this).parent().toggleClass("open");
                e.preventDefault();
            });
            $(".dropdown-menu form").on("submit", function(e){
                var form = $(this),
                    url = form.attr("action");
                    if(url){
                        $.ajax({
                            type : form.attr("method"),
                            url : url,
                            data : form.serialize(),
                            success : function(data){
                                $('.dropdown-toggle').parents("open").removeClass("open");
                            }
                        })
                    }
                e.preventDefault();
                return false;
            })
        });
    </script>


    <script src="bower_components/angular/angular.js"></script>

    <!-- build:js(app) scripts/modules.js -->
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/services/page.js"></script>
    <script src="scripts/services/person.js"></script>
    <script src="scripts/services/search.js"></script>
    <script src="scripts/controllers/main.js"></script>
    <script src="scripts/controllers/people.js"></script>
    <script src="scripts/controllers/detailsPerson.js"></script>
    <script src="scripts/controllers/about.js"></script>
    <script src="scripts/controllers/page.js"></script>
    <script src="scripts/controllers/navbar.js"></script>
    <script src="scripts/directives/userAvatar.js"></script>
    <script src="scripts/directives/webPresence.js"></script>
    <script src="scripts/directives/onEnter.js"></script>
    <script src="scripts/directives/eventBody.js"></script>
    <!-- endbuild -->
    
<div class="wrap">

    <footer id="footer">         
                
                    <div class="social">                        
                            <a href="https://www.facebook.com/persony.persony" class="facebook">
                                <span class="socialicons ico1"></span>
                                <span class="socialicons_h ico1h"></span>
                            </a>
                            <a href="https://twitter.com/PersonyProject" class="twitter">
                                <span class="socialicons ico2"></span>
                                <span class="socialicons_h ico2h"></span>
                            </a>
                            <a href="https://plus.google.com/107673314003532823384/posts" class="gplus">
                                <span class="socialicons ico3"></span>
                                <span class="socialicons_h ico3h"></span>
                            </a>
                            <a href="#" class="vk">
                                <span class="socialicons ico7"></span>
                                <span class="socialicons_h ico7h"></span>
                            </a>                       
                    </div>
                    <div class="copyright">
                            <!-- Yandex.Metrika informer -->
<a href="http://metrika.yandex.ru/stat/?id=24100588&amp;from=informer"
target="_blank" rel="nofollow"><img src="//bs.yandex.ru/informer/24100588/3_1_FFFFFFFF_EFEFEFFF_0_pageviews"
style="width:88px; height:31px; border:0;" alt="Яндекс.Метрика" title="Яндекс.Метрика: данные за сегодня (просмотры, визиты и уникальные посетители)" onclick="try{Ya.Metrika.informer({i:this,id:24100588,lang:'ru'});return false}catch(e){}"/></a>
<!-- /Yandex.Metrika informer -->
                            <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/deed.uk"><img
                                    alt="Ліцензія Creative Commons" style="border-width:0"
                                    src="http://i.creativecommons.org/l/by-sa/4.0/88x31.png"/></a><br/>Проект &laquo;<span
                                xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/Dataset"
                                property="dct:title" rel="dct:type">Персони</span>&raquo; ліцензовано за <a
                                rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/deed.uk"
                                style="color:#005580;">ліцензією
                            Creative Commons Із зазначенням автора - Розповсюдження на тих самих умовах 4.0
                            Міжнародна</a>.                      
                    </div>         
    </footer>
</div>

<!-- Yandex.Metrika counter -->
<script type="text/javascript">
(function (d, w, c) {
    (w[c] = w[c] || []).push(function() {
        try {
            w.yaCounter24100588 = new Ya.Metrika({id:24100588,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true});
        } catch(e) { }
    });

    var n = d.getElementsByTagName("script")[0],
        s = d.createElement("script"),
        f = function () { n.parentNode.insertBefore(s, n); };
    s.type = "text/javascript";
    s.async = true;
    s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

    if (w.opera == "[object Opera]") {
        d.addEventListener("DOMContentLoaded", f, false);
    } else { f(); }
})(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="//mc.yandex.ru/watch/24100588" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
</body>
</html>
